.session-form {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 22px;
  background-color: white;
  border-radius: 10px;
  width: 380px;
  height: 400px;
  box-shadow: 0 6px 16px rgb(0 0 0 / 12%);
}

.session-form h2 {
  padding-bottom: 20px;
  font-size: 32px;
  font-weight: 500;
  text-decoration: underline;
}

.session-form label {
  display: flex;
  flex-direction: column;
}

.session-form label span {
  padding-bottom: 5px;
}

.session-form input {
  border: 1px solid #ebebeb;
  border-radius: 10px;
  padding: 10px;
}

.submit-button {
  margin-top: 20px;
  text-align: center;
  border-radius: 20px;
  padding: 10px;
  background-color: #40BCC9;
  color: white;
}

.submit-button:disabled {
  background-color: #ebebeb;
  color: black;
}

.errors {
  min-height: 16px;
  color: red;
  font-weight: 300;
  font-size: 15px;
  text-align: center;
}

#line-div {
  padding-top: 20px;
  display: flex;
  align-items: center;
}

#or {
  display: inline-block;
  padding-left: 2.5%;
  padding-right: 2.5%;
  font-weight: 300;
  padding-bottom: 2px;
}

.line {
  width: 47%;
  display: inline-block;
}

.demo-button {
  margin-top: 20px;
    text-align: center;
    border-radius: 20px;
    background-color: #222222;
    padding: 10px;
    color: white;
}

