.post-container {
    background-color: white;
    max-height: 90vh;
    padding: 20px;
    border-radius: 20px;
    width: 380px;
    overflow-y: scroll;
    box-shadow: 0 6px 6px rgb(0 0 0 / 10%);
}

.post-header {
    display: flex;
    align-items: center;
}

.post-header img {
    width: 200px;
    height:  200px;
    border-radius: 20px;
}

.date-container h1 {
    font-size: 55px;
    font-weight: 500;
    padding-left: 30px;
}

.post-text-area {
    border-radius: 20px;
    background-color: #ebebeb;
    min-height: 50px;
}

.post-text-area p {
    padding: 10px;
}

.post-body h2 {
    font-size: 25px;
    font-weight: 500;
    padding: 5px 5px;
}

.rating-container {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.rating {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.button-post {
    margin-top: 10px;
    background-color: #ebebeb;
    padding: 10px 15px;
    border-radius: 20px;
}

.center {
    display: flex;
    justify-content: center;
}