
.dock-container {
    height: 50px;
    background-color: white;
    width: 50vw;
    border-radius: 20px;
    box-shadow: 0 6px 16px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: space-around;
    align-items: center;
}