.calendar {
    height: 600px;
    width: 60vw;
    min-width: 380px;
    border: 1px solid #ebebeb;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 6px 16px rgb(0 0 0 / 12%);
    background-color: white;
}

.calendar-heading {
    display: flex;
    justify-content: space-around;
    padding: 50px 10px 40px 10px;
    background-color: #0A6E8F;
    border-radius: 20px 20px 0 0 ;
}

.month-year {
    font-weight: 400;
    font-size: 40px;
    color: white;
}

.calendar-selector {
    font-weight: 400;
    font-size: 30px;
    padding: 5px 15px;
    background-color: rgb(0 0 0 / 12%);
    border-radius: 50%;
}

.left-right {
    color: white;
}

.calendar-body {
    height: 400px;
    padding-top: 30px;
}

.week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding-top: 10px;
    padding-bottom: 10px;
    place-items: center;
}

.day {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 20px;
}

.invalid-day {
    color: white;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #ebebeb;
}

.today {
    border: 3px solid black;
}

.calendar-selector:disabled {
    visibility: hidden;
}

.day:hover {
    scale: 1.2;
}

.day:disabled {
    background-color: #ebebeb;
    cursor: auto;
}
